.principal-contato {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

form {
  margin: 80px 0px;
  display: inline-block;
  width: 50%;
}

form > label, form > legend {
  display: block;
  font-size: 15px;
  margin: 30px 0 15px;
}

.input-padrao {
  display: block;
  margin: 0 0 20px;
  padding: 10px 10px;
  width: 100%;
  box-sizing: border-box;
}

.forma-contato {
  margin: 40px 0 40px 0;
}

.forma-contato legend {
  margin: 10px 0;
}

fieldset label {
  display: block;
  margin: 15px 0;
}

.horario-contato legend {
  margin: 20px 0;
}

.horario-contato select {
  width: 20%;
  padding-left: 10px;
  font-size: 14px;
  font-family: 'Shippori Mincho B1', sans-serif;
} 

.checkbox {
  margin: 40px 0;
}

.enviar {
  width: 40%;
  padding: 15px 0;
  background: #f0ac25;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  transition: 1s all;
  cursor: pointer;
}

.enviar:hover {
  background:darkorange;
  transform: scale(1.05)
}

.tabela-horarios {
  margin: 20px 20px;
  position: absolute;
  top: 80px;
  right: 80px;
}

.tabela-horarios h3 {
  width: 100%;
  font-size: 1.5em;
  margin: 40px 0;
  color: #555555;
}

table {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 380px;
}

thead {
  background: #f0ac25;
  color: white;
  font-weight: bold;
}

td, th {
  border: 1px solid #000000;
  padding: 15px 55px;
}

@media screen and (max-width: 480px) {
  .principal-contato {
    width: auto;
    margin-left: 2em;
  }

  .input-padrao {
    width: 75%;
    padding: 8px 25px;
  }

  form label, form legend {
    font-size: 1em;
  }

  select {
    width: 40%;
    font-size: 1em;
  }

  .enviar {
    font-size: 0.85em;
  }
}