.produtos {
    width: 100%;
    padding: 50px 0;
    display: flex;
    justify-content: center;
}

.produtos li {
    width: 20%;
    margin: 0 1.5%;
    padding: 30px 20px; 
    box-sizing: border-box;
    border: 2px solid #000000; 
    border-radius: 10px;
}

.produtos li:hover {
    border-color: #C78C19;
}

.produtos li:active {
    border-color: #088C19;
}

.produtos li:hover h2 {
    font-size: 34px;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.produtos img {
    margin: 10px;
}

.produto-descricao {
    font-size: 18px;
    text-align: center;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}

@media screen and (max-width: 700px) {
    /* .produtos {
      width: auto;
  }

  .produtos h2 {
      font-size: 1.em;
  }

  .produtos li {
      display: block;
      width: 80%;
      margin: 1em auto;
  }

  .img-produto {
      width: 65%;
  }

  .produto-descricao {
      font-size: 1em;
  }

  .produto-preco {
      font-size: 1.2em;
  } */

  .produtos {
      flex-direction: column;
      align-items: center;
  }

  .produtos li {
      width: 90%;
      margin: 10px;
  }

  .produtos img {
    width: 90%;
  }

  .produtos li:hover h2 {
    font-size: 30px;
  }
}