p, li, a {
    line-height: 1.2em;
    letter-spacing: .1em;
}

.banner {
    width: 100%;
    height: 600px;
    object-fit: cover;
    object-position: center;
}

.titulo {
    text-align: center;
    font-size: 2em; 
    margin: 0 0 1em;
    clear: left;
    color: #f0ac25;
    font-weight: bold;
    letter-spacing: .1em;
    text-transform: uppercase;
    line-height: 1.2em;
}

.principal {
    background: #0a0a0a;
    color: #FEFEFE;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;
}

/* .principal::after, .principal::before {
    content:'';
    display: block;
    border-bottom: 1px solid white;
    padding-top: .5rem;
    width: 90%;
    margin: 0 auto;
} */

.utensilios {
    width: 20%;
    border-radius: 50%;
    position: relative;
    left: 50px;
}

.texto {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.principal p:not(.principal p:last-child) {
    margin: 0 0 4em 0;
}

#missao {
    font-weight: bold;
    font-size: 1em;
    text-align: center;
}

.mapa {
    background-color: #0a0a0a;
    color: #FEFEFE;
}

.mapa .titulo {
    font-size: 3em;
}

.mapa .titulo::before, .mapa .titulo::after {
    content: '';
    background: currentColor;
    width: 10%;
    height: 1px;
    display: inline-block;
    position: relative;
    bottom: 15px;
    margin: 0 30px;
    opacity: 1;
}

.mapa p {
    margin: 0 0 2em;
    text-align: center;
    font-size: 1.1em;
}

.mapa-conteudo {
    width: 70%;
    margin: 0 auto;
    padding: 4em 0;
}

.beneficios {
    background-color: #0a0a0a;
    color: #FEFEFE;
    padding: 3em 0;
    margin-bottom: 10px;
}

/* .beneficios::after {
    content: '';
    background: #f0ac25;
    width: 90%;
    height: 1px;
    display: block;
    position: relative;
    top: 50px;
    margin: 0 auto;
    opacity: 0.5;
} */

.beneficios .titulo {
    font-size: 3em;
}

.beneficios .titulo::before, .beneficios .titulo::after {
    content: '';
    background: currentColor;
    width: 27%;
    height: 1px;
    display: inline-block;
    position: relative;
    bottom: 15px;
    margin: 0 30px;
    opacity: 1;
}

.conteudo-beneficios {
    width: 85%;
    margin: 0 auto;
}

.itens:nth-child(1) {
    grid-area: foto1;
}

.itens:nth-child(2) {
    grid-area: foto2;
}

.itens:nth-child(3) {
    grid-area: foto3;
}

.itens:nth-child(4) {
    grid-area: foto4;
}

.itens:nth-child(5) {
    grid-area: foto5;
}

.itens:nth-child(6) {
    grid-area: foto6;
}

.video {
    width: 100%;
    grid-area: video;
 } 

.lista-beneficios {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
        "foto1 video video video"
        "foto2 video video video"
        "foto3 foto4 foto5 foto6"
    ;
    gap: 10px
}
.itens {
    position: relative;
    height: 200px;
    background-color: #0a0a0a;
    border: 1px solid rgba(250, 172, 37, 0.7);
}

.itens p {
    position: absolute;
    color: #f0ac25;
    bottom: 50%;
    left: 50%;    
    transform: translate(-50%,  50%);
    font-size: 1.3em;
    font-weight: bold;
    transition: 400ms;
}

.itens img {
    width: 100%;
    height: inherit;
    object-fit: cover;
    opacity: 0.3;
    transition: 400ms;
}

.itens:hover {
    border: none;
    outline: none;
}

.itens:hover > p {
    opacity: 0;
}

.itens:hover > img {
    opacity: 1;
}

@media screen and (max-width: 480px) {
    
    .caixa, .principal, .conteudo-beneficios, .mapa-conteudo, .video {
        width: auto;
    }

    h1 {
        text-align: center;
    }

    .img-logo {
        width: 30%;
    }

    .menu-principal {
        width: 100%;
        margin: auto;
    }

    .item-menu {
        font-size: 1em;
        margin: 0 15px;
    }

    .principal {
        padding: 1em;
    }

    .titulo-principal {
        font-size: 1.3em;
    }

    p {
        font-size: 0.8em;
    }

    .utensilios {
        width: 80px;
        margin: 0 10px 0 10px;
    }

    .principal p {
        margin: 0 1em 1em 1em; 
        text-align: justify;
    }

    .mapa {
        padding: 0;
    }

    .beneficios {
        padding: 1em;
    }

    .lista-beneficios {
        vertical-align: initial;
        width: 80%;
        margin-left: 2em;

    }

    .imagem-beneficios {
        width: 100%;
        margin-top: 1em;
    }

    nav {
        position: static;
    }

    /*.lista-beneficios, .imagem-beneficios {
        width: 100%;
    }*/

}