p, li, a {
    line-height: 1.2em;
    letter-spacing: .1em;
}

.banner {
    width: 100%;
    height: 600px;
    object-fit: cover;
    object-position: center;
    margin: 1px 0;
}

.titulo {
    text-align: center;
    font-size: 2em; 
    margin: 0 0 1em;
    clear: left;
    color: #f0ac25;
    font-weight: bold;
    letter-spacing: .1em;
    text-transform: uppercase;
    line-height: 1.2em;
}

.principal {
    background: #0a0a0a;
    color: #FEFEFE;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;
}

/* .principal::after, .principal::before {
    content:'';
    display: block;
    border-bottom: 1px solid white;
    padding-top: .5rem;
    width: 90%;
    margin: 0 auto;
} */

.utensilios {
    width: 20%;
    border-radius: 50%;
    position: relative;
    left: 50px;
}

.texto {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.principal p:not(.principal p:last-child) {
    margin: 0 0 4em 0;
}

#missao {
    font-weight: bold;
    font-size: 1em;
    text-align: center;
}

.beneficios {
    background-color: #0a0a0a;
    color: #FEFEFE;
    padding: 3em 0;
}

/* .beneficios::after {
    content: '';
    background: #f0ac25;
    width: 90%;
    height: 1px;
    display: block;
    position: relative;
    top: 50px;
    margin: 0 auto;
    opacity: 0.5;
} */

.beneficios .titulo {
    font-size: 3em;
    margin-bottom: 80px;
}

.beneficios .titulo::before, .beneficios .titulo::after {
    content: '';
    background: currentColor;
    width: 27%;
    height: 1px;
    display: inline-block;
    position: relative;
    bottom: 15px;
    margin: 0 30px;
    opacity: 1;
}

.conteudo-beneficios {
    width: 85%;
    margin: 0 auto;
}

.itens:nth-child(1) {
    grid-area: foto1;
}

.itens:nth-child(2) {
    grid-area: foto2;
}

.itens:nth-child(3) {
    grid-area: foto3;
}

.itens:nth-child(4) {
    grid-area: foto4;
}

.itens:nth-child(5) {
    grid-area: foto5;
}

.itens:nth-child(6) {
    grid-area: foto6;
}

.video {
    width: 100%;
    grid-area: video;
 } 

.lista-beneficios {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
        "foto1 video video video"
        "foto2 video video video"
        "foto3 foto4 foto5 foto6"
    ;
    gap: 10px
}
.itens {
    position: relative;
    height: 200px;
    background-color: #0a0a0a;
    border: 1px solid rgba(250, 172, 37, 0.7);
}

.itens p {
    position: absolute;
    color: #f0ac25;
    bottom: 50%;
    left: 50%;    
    transform: translate(-50%,  50%);
    text-align: center;
    font-weight: bold;
    transition: 400ms;
    z-index: 2;
    font-size: 80%;
}

.itens img {
    width: 100%;
    height: inherit;
    object-fit: cover;
    opacity: 0.3;
    transition: 400ms;
}

.itens:hover {
    border: none;
}

.itens:hover > p {
    opacity: 0;
}

.itens:hover > img {
    opacity: 1;
}

.mapa {
    background-color: #0a0a0a;
    color: #FEFEFE;
    padding: 3em 0;
    margin-bottom: 1px;
}

.mapa .titulo {
    font-size: 3em;
}

.mapa .titulo::before, .mapa .titulo::after {
    content: '';
    background: currentColor;
    width: 10%;
    height: 1px;
    display: inline-block;
    position: relative;
    bottom: 15px;
    margin: 0 30px;
    opacity: 1;
}

.mapa p {
    margin: 0 0 2em;
    text-align: center;
    font-size: 1.1em;
}

.mapa-conteudo {
    width: 70%;
    margin: 0 auto;
    padding: 4em 0;
}

@media screen and (max-width: 700px) {

    main {
        width: auto;
    }

    .principal {
        flex-direction: column;
        height: auto;
    }

    .utensilios {
        width: 20%;
        position: static;
        margin: 30px 0;
    }

    .titulo {
        font-size: 1.3em; 
    }

    .texto {
        width: 80%;
        font-size: .8em;
        text-align: center;
    }

    .beneficios .titulo {
        font-size: 1.4em;
        margin: 40px;
    }

    .beneficios .titulo::before, .beneficios .titulo::after {
        display: none;
    }
    
    .lista-beneficios {
       display: flex;
       flex-direction: column;
    }

    .itens {
        height: 80px;
        margin-bottom: 10px;
    }
    
    .itens p {
        font-size: 1em;
        font-weight: 400;
        text-align: center;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;    
        transform: translate(0, 0);
        background-color: rgba(0, 0, 0, .8);
    }
    
    .itens img {
        opacity: 1;
        object-position: top;
    }  
    
    .itens:hover > p, .itens:hover > img, .itens:hover {
        opacity: 1;
        pointer-events: none;
    }
    
    .mapa .titulo {
        font-size: 1.4em;
    }

    .mapa .titulo::before, .mapa .titulo::after {
        display: none;
    }
    
    .mapa p {
        margin: 0;
        font-size: .8em;
    }

    .mapa-conteudo {
        width: 90%;
        padding: 2em 0;
    }
}